@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .image {
    --primary: #1f78ff;

    /* Background colors */
    --background: rgba(0, 0, 0, 0);

    /* Text colors */
    --text-primary: #e4e4e4;
    --text-secondary: #9b9b9b;

    /* Border Color */
    --border: #444444;
    --border-hover: rgb(110, 110, 110);
    --border-focus: #383838;

    /* Card colors */
    --card-background: rgba(0, 0, 0, 0.3);

    /* Input colors */
    --input-background: rgba(0, 0, 0, 0.3);

    /* Dialog colors */
    --dialog-background: #1e1e1e;

    /* Dropdown colors */
    --dropdown-background: rgba(0, 0, 0, 0.8);
    --dropdown-item-hover: rgba(0, 0, 0, 0.4);
    --dropdown-item-focus: rgba(0, 0, 0, 0.5);

    /* Sidebar colors */
    --sidebar-background: rgba(0, 0, 0, 0.3);
    --sidebar-item-hover: rgba(243, 244, 246, 0.85);
    --sidebar-item-focus: #d1d5db;

    /* Dynamic background image */
    background-image: var(--bg-url);
    background-size: cover;
    background-position: center;
    /* blur disabled */

    /* Button colors */
    --button-bg: rgba(74, 168, 255, 0.85);
    --button-bg-hover: rgba(0, 0, 0, 0.85);
    --button-text: #dddddd;
    --button-border: rgba(0, 0, 0, 0.85);
    --button-border-hover: rgba(161, 161, 161, 0.85);

    /* Secondary Button colors */
    --button-second-bg: rgba(0, 0, 0, 0.3);
    --button-second-bg-hover: rgba(0, 0, 0, 0.4);

    /* Bookmark item colors */
    --bookmark-item-bg: rgba(0, 0, 0, 0.3);
    --bookmark-item-text: #ffffff;

    /* Drawer colors */
    --drawer-background: #1f1f1f;
  }
}

@layer base {
  body {
    @apply bg-background text-text-primary;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 1px;
  }
}

@layer utilities {
  .scrollbar-thin {
    scrollbar-width: thin;
  }

  .scrollbar-thumb-gray-400::-webkit-scrollbar-thumb {
    background-color: #9ca3af;
    border-radius: 6px;
  }

  .scrollbar-track-transparent::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .scrollbar-thumb-gray-500:hover::-webkit-scrollbar-thumb {
    background-color: #6b7280;
  }

  ::-webkit-scrollbar {
    width: 6px;
  }
}

/* Remove unwanted top margin on tab panels */
[role="tabpanel"] {
  margin-top: 0 !important;
}

/* hide-scrollbar utility */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

/* Custom image theme opacity utilities */
.sidebar-background {
  background-color: rgba(0, 0, 0, var(--sidebar-opacity)) !important;
}

.card-background {
  background-color: rgba(0, 0, 0, var(--card-opacity)) !important;
}
